html { background-color: #000000;}

body {  background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}

.mainContent {padding: 0px 5px 10px 5px;}
.navigation {background-color: #000000;  color: rgb(71, 71, 71);
             padding: 0px 0px 0px 0px; width: 100%;  display: table;}
.navigation a:link {  color: #080808;}
.navigation a:visited {  color: #fffdfd;}

.navigation li { 
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    border-right: 1px solid #bbb;
    text-decoration: none;}

.navigation li:hover {background-color: rgb(211, 199, 199);}
.navigation a:link {color: #000000;text-decoration: none;}

.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.fa-facebook {
    background: rgb(0, 0, 0);
    color: white;
  }
