html { background-color: #000000;}

body {  background-color: rgb(255, 255, 255);
    width: 70%;
    margin-left: auto;
    margin-right: auto;}

.mainContent {padding: 0px 5px 10px 5px;}
.navigation {background-color: rgb(9, 9, 39);  color: rgb(58, 58, 58);}
.navigation a:link {  color: #000000;}
.navigation a:visited {  color: #e64616;}

.navigation li {display: table-cell;
                text-align: center;
                vertical-align: middle;
                float: left;  
                width: 25%;}
.navigation li:hover {background-color: #01010c;}
.navigation a:link {color: #000000;text-decoration: none;}

.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
